
.h-100 {
  height: 100%;
}

.h-60 {
  height: 60%;
}


.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%
}

.w-25 {
  width: 25%
}

.vh-100 {
  height: 100vh;
}

.vh-60 {
  height: 60vh;
}

.vw-100 {
  width: 100vw;
}

.vw-60 {
  width: 60vw;
}

.overflow-auto {
  overflow: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.height-offset-180 {
  height: -moz-calc(100vh - 180px);
  height: -webkit-calc(100vh - 180px);
  height: calc(100vh - 180px);
}

.height-offset-220 {
  height: -moz-calc(100vh - 220px);
  height: -webkit-calc(100vh - 220px);
  height: calc(100vh - 220px);
}

.pl-12 {
  padding-left: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.py-12 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mt-12{
  margin-top: 12px;
}

.mt-24{
  margin-top: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p-12 {
  padding: 12px;
}

.m-12 {
  margin: 12px;
}

.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
  background-color: rgb(238, 241, 246)
}

.main-container {
  height: 100vh; border: 1px solid #eee
}

.text-left {
  text-align: left;
}

.display-inline{
  display: inline;
}

.display-block{
  display: block;
}

.display-inline-block{
  display: inline-block;
}



